{% extends 'layout.twig' %}

{% block titulo 'Informes de ' ~ nombre ~ ' ' ~ apellidos %}

{% block body_class 'type-home' %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
        <div class="content-secondary">
            <div id="jqm-homeheader">
                <h1 id="jqm-logo"><img src="/img/logo.fw.png" alt="iContraincendios" /></h1>
                <p>Calcule las necesidades de una instalación contraincendios.</p>
            </div>

            <p class="intro"><strong>Bienvenido.</strong> iContraincendios es una aplicación para el cálculo de las necesidades para todo tipo de instalaciones contra incendios.</p>
            
            <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
                <li data-role="list-divider">Opciones de usuario</li>
                <li><a href="{{ path('quienes') }}">¿Quiénes somos?</a></li>
                <li><a href="{{ path('contacto') }}">Contacto</a></li>              
                <li><a href="{{ path('ayuda') }}">Ayuda</a></li>
                <li data-theme="b" data-icon="plus"><a href="{{ path('registro') }}" >Registrar nuevo técnico</a></li>
                <li data-theme="a" data-icon="arrow-d"><a href="/logout" >Desconectar</a></li>
            </ul>
        </div><!--/content-secondary -->
{% endblock %}

{% block contenido_primario %}
        <div class="content-primary">
            <h2>{{ nombre }} {{ apellidos }}</h2><hr>
            <p>A continuación se muestra los datos del informe conjuntamente con los cálculos de las necesidades contraincendios asociados. En el caso que desee realizar algún cambio póngase en contacto con el administrador de la plataforma mediante el botón <strong>Contacto</strong>.</p>
            {% if errores %}
            
            <p>
                <ul data-role="listview" data-inset="true" data-divider-theme="a" data-count-theme="b">
                    <li data-role="list-divider">{% if errores|length > 1 %}Se han producido errores{% else %}Se ha producido un error{% endif %}<span class="ui-li-count">{{ errores|length }} {% if errores|length > 1 %}errores{% else %}error{% endif %}</span></li>
                    {% for error in errores %}
                        <li data-theme="e" style="font-weight: normal;">{{ error|raw }}</li>
                    {% endfor %}
                </ul>
            </p>

            {% else %}
            
            <div class="ui-bar ui-bar-b" style="font-weight: normal;">Informe de instalación de tipo: <strong>{{ opcion|e }}</strong></div>
            <div id="informe" class="ui-body ui-body-b">
                <p><a href="{{ path('usuario.mapa', { 'user': app.security.token.user.username, 'tipo': id_uso, 'id_informe': id_informe|e }) }}" data-role="button" data-icon="info" data-icon-pos="right" data-ajax="false" data-theme="a">Ver localización en mapa</a></p>
                <ul data-role="listview" data-inset="true" data-divider-theme="f">
                    <li data-role="list-divider">Datos generales de la instalación</li>
                    <li data-theme="c">{{ direccion }} , {{ cpostal }} , {{ localidad }}  ({{ provincia }}) , España.</li>
                    <li data-theme="c" style="font-weight: normal;">Superficie: <strong>{{ superficie }} m&sup2;</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Altura de evacuación descendente: <strong>{{ altura_d }} m</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Altura de evacuación ascendente: <strong>{{ altura_a }} m</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Centros de transformación: <strong>{{ centro_transf ? 'Sí' : 'No' }}</strong></li>
                {% if opcion == 'Residencial Vivienda' %}
                    <li data-theme="c" style="font-weight: normal;">Densidad de ocupación es mayor que 1 persona cada 5 m&sup2;: <strong>{{ dens_1per ? 'Sí' : 'No' }}</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Cocinas instaladas dentro del edificio con una potencia instalada superior a 50 kW: <strong>{{ cocina_50kW ? 'Sí' : 'No' }}</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Hay trasteros en el edificio: <strong>{{ trasteros ? 'Sí' : 'No' }}</strong></li>                    
                    {% if trasteros %}
                    <li data-theme="c" style="font-weight: normal;">Superficie de los trasteros: <strong>{{ superficie_trasteros }} m&sup2;</strong></li>                    
                    {% endif %}
                {% elseif opcion == 'Administrativo' %}
                    <li data-theme="c" style="font-weight: normal;">Densidad de ocupación es mayor que 1 persona cada 5 m&sup2;: <strong>{{ dens_1per ? 'Sí' : 'No' }}</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Cocinas instaladas dentro del edificio con una potencia instalada superior a 50 kW: <strong>{{ cocina_50kW ? 'Sí' : 'No' }}</strong></li>
                    <li data-theme="c" style="font-weight: normal;">Hay imprenta, reprografía y locales anejos, tales como almacenes de papel, encuadernado, etc.: <strong>{{ reprografia ? 'Sí' : 'No' }}</strong></li>                    
                    {% if reprografia %}
                    <li data-theme="c" style="font-weight: normal;">Volumen construído: <strong>{{ volumen_construido }} m&sup3;</strong></li>                    
                    {% endif %}
                {% elseif opcion == 'Residencial Público' %}

                {% elseif opcion == 'Hospitalario' %}

                {% elseif opcion == 'Docente' %}

                {% elseif opcion == 'Comercial' %}

                {% elseif opcion == 'Pública Concurrencia' %}

                {% elseif opcion == 'Aparcamiento' %}

                {% endif %}
                </ul>

                <p><strong>Recuerda: </strong><span style="color:#477DAD"><strong>Azul</strong></span> indica que la instalación es obligatoria y <strong>negro</strong> que no lo es.</p>
                <ul data-role="listview" data-inset="true">
                    <li {% if extintores %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Extintores - Señalización</a></li>
                    <li {% if bies_25 %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">BIES &Oslash;25 mm</a></li>
                    <li {% if bies_45 %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">BIES &Oslash;45 mm</a></li>
                    <li {% if columna_seca %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Columna seca</a></li>
                    <li {% if sm_alarma %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Sistema manual de alarma de incendio</a></li>
                    <li {% if sd_incendio %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Sistema de detección de incendio</a></li>
                    <li {% if hid_exteriores %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Hidrantes exteriores</a></li>
                    <li {% if ia_extincion %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Instalación automática de extinción</a></li>
                    <li {% if ia_extincion_cocina %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Instalación automática de extinción cocina</a></li>
                    <li {% if ia_extincion_centro_transf %} data-theme="b" data-icon="check" {% else %} data-theme="a" data-icon="delete" {% endif %}><a href="#">Instalación automática de extinción centro transformación</a></li>
                </ul>
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                  <li data-role="list-divider">Aclaraciones y/o comentarios a los resultados</li>
                  {% if comentarios|length > 0%}
                    {% for comentario in comentarios %}
                      <li data-theme="e" style="font-weight: normal;">{{ comentario|raw }}</li>
                    {% endfor %}
                  {% else %}
                    <li data-theme="e" style="font-weight: normal;">No hay ninguna aclaración y/o comentario.</li>
                  {% endif %}
                </ul>                  
                <hr>
            {% endif %}
            <a href="{{ path('usuario.total_informes_tipo', { 'user': app.security.token.user.username, 'tipo': id_uso }) }}" data-role="button" data-icon="back" data-icon-pos="right" data-theme="b">Volver</a>
        </div><!--/content-primary -->
        <br>
{% endblock %}
