{% extends 'layout.twig' %}

{% block titulo 'Informes de ' ~ nombre ~ ' ' ~ apellidos %}

{% block body_class 'type-home' %}

{% block js %}
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.gomap-1.3.2.min.js"></script>
    <script src="/js/vendor/jqm-docs.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        ////////////////////////////////////////////////////////////
        $(function() {



                var latitud;
                var longitud;
                var geocoder = new google.maps.Geocoder(); 
                
                geocoder.geocode({ 'address': '{{ direccion }}' + ', {{ cpostal }}' + ', {{ localidad }}' + ', España' }, function(results, status) { 
                    if (status == google.maps.GeocoderStatus.OK) { 
                        latitud = results[0].geometry.location.lat(); 
                        longitud = results[0].geometry.location.lng(); 
                        console.log('lat, long: '+latitud+','+longitud);
                        $("#map").goMap({ 
                            address: '{{ direccion }}' + ', {{ cpostal }}' + ', {{ localidad }}' + ', España', 
                            markers: [{
                                latitude: latitud, 
                                longitude: longitud,  
                                title: '{{ direccion }}' + ', {{ cpostal }}' + ', {{ localidad }}' + ' ({{ provincia }})' + ', España'
                            }],
                            maptype: 'ROADMAP',
                            navigationControl: true, 
					        navigationControlOptions: { 
					            position: 'BOTTOM', 
					            style: 'ANDROID' 
					        }, 
                            zoom: 16 
                        }); 
                        console.log('Mapa supuestamente dibujado');

                    } else { 
                        console.log("Geocode was not successful for the following reason: " + status);
                    } 
                });

            });

        ////////////////////////////////////////////////////////////
    </script>

{% endblock %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
        <div class="content-secondary">
            <div id="jqm-homeheader">
                <h1 id="jqm-logo"><img src="/img/logo.fw.png" alt="iContraincendios" /></h1>
                <p>Calcule las necesidades de una instalación contraincendios.</p>
            </div>

            <p class="intro">Bienvenido, <strong>{{ app.title }}</strong> es una aplicación para el cálculo de las necesidades para todo tipo de instalaciones contra incendios.</p>
            
            <div data-role="collapsible" data-inset="true" data-theme="f" data-content-theme="c">
                <h2>Opciones de usuario</h2>
                <ul class="ui-shadow" data-role="listview" data-theme="c"  data-dividertheme="d">
                    <li data-role="list-divider">Seleccione una opción</li>
                    <li><a href="{{ path('quienes') }}">¿Quiénes somos?</a></li>
                    <li><a href="{{ path('contacto') }}">Contacto</a></li>              
                    <li><a href="{{ path('ayuda') }}">Ayuda</a></li>
                    <li data-theme="b" data-icon="plus"><a href="{{ path('registro') }}" >Registrar nuevo técnico</a></li>
                    <li data-theme="a" data-icon="arrow-d"><a href="/logout" >Desconectar</a></li>
                </ul>
            </div>
        </div><!--/content-secondary -->
{% endblock %}

{% block contenido_primario %}
        <div class="content-primary">
            <h2>{{ nombre }} {{ apellidos }}</h2><hr>
            <p>A continuación se muestra el mapa del informe seleccionado. En el caso que desee realizar algún cambio póngase en contacto con el administrador de la plataforma mediante el botón <strong>Contacto</strong>.</p>
            {% if errores %}
            <p>
                <ul data-role="listview" data-inset="true" data-divider-theme="a" data-count-theme="b">
                    <li data-role="list-divider">{% if errores|length > 1 %}Se han producido errores{% else %}Se ha producido un error{% endif %}<span class="ui-li-count">{{ errores|length }} {% if errores|length > 1 %}errores{% else %}error{% endif %}</span></li>
                    {% for error in errores %}
                        <li data-theme="e" style="font-weight: normal;">{{ error|raw }}</li>
                    {% endfor %}
                </ul>
            </p>
            {% else %}
				<div class="ui-bar-d ui-corner-all ui-shadow" style="padding:1em;">
                    <p>{{ direccion }}, {{ cpostal }}, {{ localidad }} ({{ provincia }})</p>
                    <hr>
					<div id="map" style="height:400px;width:100%;border:1px solid #666666"></div>
				</div>
            {% endif %}
            <a href="{{ path('usuario.informe', { 'user': app.security.token.user.username, 'tipo': id_uso, 'id_informe': id_informe }) }}" data-role="button" data-icon="back" data-icon-pos="right" data-theme="b">Volver</a>
        </div><!--/content-primary -->
        <br>
{% endblock %}
