{% extends 'layout.twig' %}

{% block titulo 'Portada' %}

{% block body_class 'type-home' %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
    {% include 'menu_general.twig' %}
{% endblock %}

{% block contenido_primario %}
		<div class="content-primary">
			<nav>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="g">
					<li data-role="list-divider">Seleccione el uso previsto de la instalación</li>
                    <li><a href="{{ app.url_generator.generate('uso.residencial_vivienda') }}">
                    	<img src="/img/resviv.jpg">
                        <h3>Residencial Vivienda</h3>
                        <p>Edificio o zona destinada a alojamiento permanente</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.administrativo') }}">
                    	<img src="/img/adminis.jpg">
                        <h3>Administrativo</h3>
                        <p>Edificio, establecimiento o zona en el que se desarrollan actividades de gestión o de servicios en cualquiera de sus modalidades</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.residencial_publico') }}">
                    	<img src="/img/respub.jpg">
                        <h3>Residencial Público</h3>
                        <p>Edificio o establecimiento destinado a proporcionar alojamiento temporal</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.hospitalario') }}">
                    	<img src="/img/hospital.jpg">
                        <h3>Hospitalario</h3>
                        <p>Edificio o establecimiento destinado a asistencia sanitaria con hospitalización de 24 horas</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.docente') }}">
                    	<img src="/img/docente.jpg">
                        <h3>Docente</h3>
                        <p>Edificio, establecimiento o zona destinada a docencia, en cualquiera de sus niveles</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.comercial') }}">
                    	<img src="/img/comercial.jpg">
                        <h3>Comercial</h3>
                        <p>Edificio o establecimiento cuya actividad principal es la venta de productos directamente al público o la prestación de servicios relacionados con los mismos</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.publica_concurrencia') }}">
                    	<img src="/img/pubconcur.jpg">
                        <h3>Pública Concurrencia</h3>
                        <p>Edificio o establecimiento destinado a alguno de los siguientes usos: cultural, religioso y de transporte de personas</p>
                    </a></li>
                    <li><a href="{{ app.url_generator.generate('uso.aparcamiento') }}">
                    	<img src="/img/parking.jpg">
                        <h3>Aparcamiento</h3>
                        <p>Edificio, establecimiento o zona independiente o accesoria de otro uso principal, destinado a estacionamiento de vehículos</p>
                    </a></li>
				</ul>
			</nav>
		</div><!--/content-primary -->
{% endblock %}
