{% extends 'uso.twig' %}

{% block titulo 'Residencial Vivienda' %}

{% block contenido_secundario %}
	{% include 'menu_lateral_usos.twig' with {'opcion':opcion} %}
{% endblock %}

{% block contenido_primario %}
    	<div class="content-primary">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-corners="false">
                <div data-role="collapsible">
                    <h1>Residencial Vivienda</h1>
                    <p>Edificio o zona destinada a alojamiento permanente, cualquiera que sea el tipo de edificio: vivienda unifamiliar, edificio de pisos o de apartamentos, etc.</p>
                </div>
            </div>
            <div class="ui-bar ui-bar-g"><strong>Cumplimente los siguientes datos:</strong></div>
        	<form name="residencial_vivienda" id="form_uso" method="post" action="{{ path('uso.resultados') }}">
        		<div class="ui-body ui-body-b">
                    <input type="hidden" name="uso" id="uso" value="{{ opcion }}">
        		    <label for="superficie">Superficie construida en (m&sup2;)</label>
        		    <input type="text" name="superficie" id="superficie" pattern="[0-9]*" placeholder="m&sup2;" title="Se necesita un valor de superficie" required value="{{ formData.superficie }}">
        		    <label for="altura_d">Altura de evacuación descendente (m)</label>
        		    <input type="text" name="altura_d" id="altura_d" pattern="[0-9]*" placeholder="m" title="Se necesita un valor de altura de evacuación descendente" required value="{{ formData.altura_d }}">
        		    <label for="altura_a">Altura de evacuación ascendente (m)</label>
        		    <input type="text" name="altura_a" id="altura_a" pattern="[0-9]*" placeholder="m" title="Se necesita un valor de altura de evacuación ascendente" required value="{{ formData.altura_a }}">
        		    <hr>
        		    <label for="dens_1per">¿La densidad de ocupación es mayor que 1 persona cada 5 m&sup2;?</label>
        		    <select name="dens_1per" id="dens_1per" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si"{% if formData.dens_1per == 1 %} selected{% endif %}>Si</option>
        		    </select>
        		    <hr>
        		    <label for="cocina_50kW">¿Hay cocinas instaladas dentro del edificio con una potencia instalada superior a 50 kW?</label>
        		    <select name="cocina_50kW" id="cocina_50kW" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si"{% if formData.cocina_50kW == 1 %} selected{% endif %}>Si</option>
        		    </select>
        		    <hr>
        		    <label for="centro_transf">¿Existe centro de transformación cuyos aparatos tengan aislamiento dieléctrico con punto de inflamación menor de 300&deg; y potencia instalada mayor de 1000 kVA en cada aparato o de 4000 kVA en el conjunto de aparatos?</label>
        		    <select name="centro_transf" id="centro_transf" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si"{% if formData.centro_transf == 1 %} selected{% endif %}>Si</option>
        		    </select><br>&nbsp;
        		    <div class="ui-bar ui-bar-a"><strong>Locales y zonas de riesgo especial</strong></div>
        		    <div class="ui-body ui-body-e">
        		    <label for="trasteros">¿Hay trasteros en el edificio?</label>
        		    <select name="trasteros" id="trasteros" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si"{% if formData.trasteros == 1 %} selected{% endif %}>Si</option>
        		    </select>
        		    <hr>
        		    <label for="superficie_trasteros">¿Cuál es la superficie construida de los trasteros? (m&sup2;)</label>
        		    <input type="text"{% if formData.trasteros == 0 %}  disabled="disabled"{% endif %} name="superficie_trasteros" id="superficie_trasteros" pattern="[0-9]*" placeholder="m&sup2;" title="Si hay trasteros debe indicar su superfice" required value="{{ formData.superficie_trasteros }}">
        		    </div>
        		</div>
                {% block envio %}
                    {% include 'envio_calculo.twig' %}
                {% endblock %}
	        </form>
	        <p>&nbsp;</p>		
    	</div><!--/content-primary -->
{% endblock %}