{% extends 'layout.twig' %}

{% block titulo 'Informes de ' ~ nombre ~ ' ' ~ apellidos %}

{% block body_class 'type-home' %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
		<div class="content-secondary">
            <div id="jqm-homeheader">
                <h1 id="jqm-logo"><img src="/img/logo.fw.png" alt="iContraincendios" /></h1>
                <p>Calcule las necesidades de una instalación contraincendios.</p>
            </div>

			<p class="intro"><strong>Bienvenido.</strong> iContraincendios es una aplicación para el cálculo de las necesidades para todo tipo de instalaciones contra incendios.</p>
			
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				<li data-role="list-divider">Opciones de usuario</li>
				<li><a href="{{ path('quienes') }}">¿Quiénes somos?</a></li>
                <li><a href="{{ path('contacto') }}">Contacto</a></li>              
                <li><a href="{{ path('ayuda') }}">Ayuda</a></li>
                <li data-theme="b" data-icon="plus"><a href="{{ path('registro') }}" >Registrar nuevo técnico</a></li>
                <li data-theme="a" data-icon="arrow-d"><a href="/logout" >Desconectar</a></li>
			</ul>
		</div><!--/content-secondary -->
{% endblock %}

{% block contenido_primario %}
		<div class="content-primary">
            <h2>{{ nombre }} {{ apellidos }}</h2><hr>
            <p>A continuación se muestra una lista con los informes de este tipo organizada de más actuales a más antiguos. En el caso que desee realizar algún cambio póngase en contacto con el administrador de la plataforma mediante el botón <strong>Contacto</strong>.</p>
            {% if total_informes_tipo|length > 0 %}
            <ul data-role="listview" data-filter="true" data-filter-placeholder="Introduzca su búsqueda..." data-inset="true">
                <li data-role="list-divider">Informes de uso: {{ tipo_uso|e }}</li>
                {% for informe in total_informes_tipo %}
                    <li><a href="{{ path('usuario.informe', { 'user': app.security.token.user.username, 'tipo': id_uso, 'id_informe': informe.idInformes|e }) }}">
                        <h2>{{ informe.direccion|e }}</h2>
                        <p>{{ informe.cpostal|e }} - {{ informe.localidad|e }} ({{ informe.provincia|e }})</p>
                        <p class="ui-li-aside"><strong>{{ informe.fecha|date("d/m/Y") }}</strong></p>
                    </a></li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="ui-bar ui-bar-e">No ha archivado todavía ningún informe de este tipo.</div>
            {% endif %}
            <a href="{{ path('usuario', { 'user': app.security.token.user.username }) }}" data-role="button" data-theme="b">Volver</a>
		</div><!--/content-primary -->
{% endblock %}
